@import 'src/shared/styles/_base';

.input {
  box-sizing: border-box;
  width: 320px;
  height: 42px;
  background: $secondary-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  border-color: transparent;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15);
  outline: none;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  &::placeholder {
    padding-left: 18px;
    color: #b9b9b9;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
  }
  @include tablet {
    width: 450px;
    height: 54px;
  }
  @include desktop {
    width: 578px;
    height: 64px;
  }
}
