@import 'src/shared/styles/base';
@import 'src/shared/styles/common';

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.headRow {
  background: #3a80ba;
  color: $secondary-text-color;
}
.th {
  color: $secondary-text-color;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  &:not(:last-child) {
    border-right: 1px solid #ffffff;
  }
}

.tableTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.218;
  margin-bottom: 16px;
  color: $primary-text-color;
}

.tdLink {
  display: block;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $primary-text-color;
}
