@import 'src/shared/styles/_base';
.btn {
  background-color: $primary-bg-color;
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.437;
  width: 135px;
  height: 48px;
  color: #fafafa;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 250ms linear;
  &:hover {
    background: #3a80ba;
    color: $secondary-text-color;
  }
}
@include tablet {
  .btn {
    width: 154px;
    font-size: 12px;
    line-height: 1.25;
  }
}
